---
// imports
import Layout from "../layouts/Layout.astro";

import IT from '../../img/icons/IT_B.png';
import GB from '../../img/icons/GB_B.png';

const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
  image,
  frontmatter,
  robots,
} = Astro.props;
---

<Layout {title} {description} {image} {frontmatter} {robots}>
  <div
    class="container mx-auto max-w-[1000px] text-center w-full min-h-screen"
  >
    <h1 class="text-2xl ml-4 sm:text-3xl md:text-5xl mt-32 font-black">Event</h1>
    <div class="mt-16 grid grid-flow-col grid-rows-3 gap-4 tracking-normal">
      <div class="my-1 py-3 px-1 row-span-3 bg-red-500">
        <h1 class="text-lg ml-4 sm:text-xl md:text-2xl lg:text-3xl my-9 mx-2 font-bold">JAM SAN GIACOMO</h1>
        <span class="text-xl sm:text-2xl">16/06/2024</span>
        <div class="max-w-md mx-auto">
          <p class="text-lg sm:text-xl md:text-2xl mt-8 text-left">
            Stiamo organizzando una jam nel nostro local park! 
            scriveteci su instagram per voler partecipare!
          </p>
        </div>
      </div>
      <div class="my-1 py-3 px-1 col-span-2 bg-blue-500">
        <h1 class="text-lg ml-4 sm:text-xl md:text-2xl lg:text-3xl my-5 mx-2 font-bold">JAM 3</h1>
        <span class="text-xl sm:text-2xl">12/09/2024</span>
        <div class="max-w-md mx-auto">
          <p class="text-lg sm:text-xl md:text-2xl mt-8 text-left pb-5">
            Stiamo organizzando una jam nel nostro local park! 
            scriveteci su instagram per voler partecipare!
          </p>
        </div>
      </div>
      <div class="my-1 py-3 px-1 col-span-2 row-span-2 bg-orange-500">
        <h1 class="text-lg ml-4 sm:text-xl md:text-2xl lg:text-3xl my-9 mx-2 font-bold">JAM HALLOWEN</h1>
        <span class="text-xl sm:text-2xl">31/10/2024</span>   
        <div class="max-w-md mx-auto">
          <p class="text-lg sm:text-xl md:text-2xl mt-8 text-left">
            Stiamo organizzando una jam nel nostro local park! 
            scriveteci su instagram per voler partecipare!
          </p>
        </div>     
      </div>
    </div>
  </div>
</Layout>
