---
// imports
import Layout from '../layouts/Layout.astro';
import Shops from '../components/Store.astro';
import Cards from '../components/Cards.astro';

interface Props {
	title: string,
	description: string,
	image,
  frontmatter,
  robots,
}

const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
  image,
  frontmatter,
  robots,
} = Astro.props;
---

<Layout title="TRSTKILLS" description='A trstkills official website' {title} {description} {image} {frontmatter} {robots}>
	<!-- the first content -->
	<main class="min-h-screen w-full max-w-[1000px] mx-auto">	
		<!-- images grid 6x6 -->
		<section class="section-normal store">
			<Shops />
		</section>

		<section class="section-cards pt-0 pb-12">
			<Cards />
		</section>
	</main>
</Layout>
