---
//imports
// no layout for this
import ph1 from "../../img/trstkills shop/antivento_front.jpg";
import ph2 from "../../img/trstkills shop/black tee v1.jpg";
import ph3 from "../../img/trstkills shop/black tee v2.jpg";
import ph4 from "../../img/trstkills shop/canotta black.jpg";
import ph5 from "../../img/trstkills shop/canotta white.jpg";
import ph6 from "../../img/trstkills shop/hoodie black.jpg";
import ph7 from "../../img/trstkills shop/white tee v1.jpg";
import ph8 from "../../img/trstkills shop/white tee v2.jpg";
import ph9 from "../../img/trstkills shop/cuffia-white.png";
import ph10 from "../../img/trstkills shop/cappellino-white.png";
import Contacts from "./Contacts.astro";
---

<div
  class="container mx-auto max-w-[1000px] xl:max-h-[750px] mt-8 sm:mt-16 md:mt-32 min-h-[85vh]"
>
  <h1
    class="georgia w-full text-2xl sm:text-4xl md:text-6xl text-center my-4 sm:my-8 md:10"
  >
    Featured Products
  </h1>

  <section class="w-full max-w-[1000px] xl:max-h-[750px] min-h-full border-double border-b-4 pb-8 border-b-[#e6e6e6]">
    <h1 class="mt-4 mb-8 font-thin text-xl">SHOP</h1>

    <!-- 1 row -->
    <div class="list">
      <div class="product">
        <img alt="shoes1" src={ph1} />
        <div class="hidden-device">
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">85<sup>.00</sup><span class="text-3xl">&euro;</span></p>
        </div>
        <div>
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">85<sup>.00</sup><span class="text-3xl">&euro;</span></p>
          <p class="descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit<b
              >incididunt</b>
          </p>
          <br />
          <a href="#" class="btn-shop">Prenota (DM)</a>
        </div>
      </div>
      <div class="product">
        <img alt="shoes2" src={ph2} />
        <div class="hidden-device">
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">15<sup>.00</sup><span class="text-3xl">&euro;</span></p>
        </div>
        <div>
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">15<sup>.00</sup><span class="text-3xl">&euro;</span></p>
          <p class="descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor
          </p>
          <br />
          <a href="#" class="btn-shop">Prenota (DM)</a>
        </div>
      </div>
      <div class="product">
        <img alt="shoes3" src={ph3} />
        <div class="hidden-device">
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">15<sup>.00</sup><span class="text-3xl">&euro;</span></p>
        </div>
        <div>
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">15<sup>.00</sup><span class="text-3xl">&euro;</span></p>
          <p class="descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor
          </p>
          <br />
          <a href="#" class="btn-shop">Prenota (DM)</a>
        </div>
      </div>
      <div class="product">
        <img alt="shoes4" src={ph4} />
        <div class="hidden-device">
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">20<sup>.00</sup><span class="text-3xl">&euro;</span></p>
        </div>
        <div>
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">20<sup>.00</sup><span class="text-3xl">&euro;</span></p>
          <p class="descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor
          </p>
          <br />
          <a href="#" class="btn-shop">Prenota (DM)</a>
        </div>
      </div>
      <div class="product">
        <img alt="shoes1" src={ph5} />
        <div class="hidden-device">
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">20<sup>.00</sup><span class="text-3xl">&euro;</span></p>
        </div>
        <div>
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">20<sup>.00</sup><span class="text-3xl">&euro;</span></p>
          <p class="descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit<b
              >incididunt</b>
          </p>
          <br />
          <a href="#" class="btn-shop">Prenota (DM)</a>
        </div>
      </div>
    </div>

    <!-- 2 row -->
    <div class="list">
      <div class="product">
        <img alt="shoes1" src={ph6} />
        <div class="hidden-device">
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">35<sup>.00</sup><span class="text-3xl">&euro;</span></p>
        </div>
        <div>
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">35<sup>.00</sup><span class="text-3xl">&euro;</span></p>
          <p class="descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit<b
              >incididunt</b>
          </p>
          <br />
          <a href="#" class="btn-shop">Prenota (DM)</a>
        </div>
      </div>
      <div class="product">
        <img alt="shoes1" src={ph7} />
        <div class="hidden-device">
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">15<sup>.00</sup><span class="text-3xl">&euro;</span></p>
        </div>
        <div>
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">15<sup>.00</sup><span class="text-3xl">&euro;</span></p>
          <p class="descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit<b
              >incididunt</b>
          </p>
          <br />
          <a href="#" class="btn-shop">Prenota (DM)</a>
        </div>
      </div>
      <div class="product">
        <img alt="shoes1" src={ph8} />
        <div class="hidden-device">
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">15<sup>.00</sup><span class="text-3xl">&euro;</span></p>
        </div>
        <div>
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">15<sup>.00</sup><span class="text-3xl">&euro;</span></p>
          <p class="descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit<b
              >incididunt</b>
          </p>
          <br />
          <a href="#" class="btn-shop">Prenota (DM)</a>
        </div>
      </div>
      <div class="product">
        <img alt="shoes1" src={ph9} />
        <div class="hidden-device">
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">27<sup>.00</sup><span class="text-3xl">&euro;</span></p>
        </div>
        <div>
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">27<sup>.00</sup><span class="text-3xl">&euro;</span></p>
          <p class="descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit<b
              >incididunt</b>
          </p>
          <br />
          <a href="#" class="btn-shop">Prenota (DM)</a>
        </div>
      </div>
      <div class="product">
        <img alt="shoes1" src={ph10} />
        <div class="hidden-device">
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">27<sup>.00</sup><span class="text-3xl">&euro;</span></p>
        </div>
        <div>
          <h2 class="text-2xl sm:text-3xl md:text-4xl">SOME SHOES</h2>
          <p class="price">27<sup>.00</sup><span class="text-3xl">&euro;</span></p>
          <p class="descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit<b
              >incididunt</b>
          </p>
          <br />
          <a href="#" class="btn-shop">Prenota (DM)</a>
        </div>
      </div>
    </div>
  </section>
</div>

<Contacts />