---
//imports
import ph1 from "../../img/trstkills shop/nuovo_merch/1_15.png"; // new
import ph10 from "../../img/trstkills shop/nuovo_merch/2_15.png"; // new
import ph11 from "../../img/trstkills shop/nuovo_merch/3_15.png"; // new
import ph2 from "../../img/trstkills shop/black tee v1.jpg";
import ph3 from "../../img/trstkills shop/black tee v2.jpg";
import ph6 from "../../img/trstkills shop/hoodie black.jpg";
import ph7 from "../../img/trstkills shop/white tee v1.jpg";
import ph8 from "../../img/trstkills shop/white tee v2.jpg";
import ph9 from "../../img/trstkills shop/cuffia-white.png";
import phFelpa from "../../img/trstkills shop/nuovo_merch/felpa_logo_ricamato_35.png"; // new

//js files
import Prod1 from "../data/ProductData";
import Prod2 from "../data/ProductData2";

//PHOTOS
const photos1 = [ph1,ph10, ph11, ph2, ph3];
const photos2 = [ph6, ph7, ph8, ph9, phFelpa];

interface Props {
  photos1: string[];
  photos2: string[];
}

import Contacts from "./Contacts.astro";
---

<div class="container mx-auto max-w-[1000px] xl:max-h-[750px] my-8 sm:mt-16 md:mt-32 min-h-[85vh]">
  <h1 class="georgia w-full text-2xl sm:text-4xl md:text-6xl text-center my-4 sm:my-8 md:10">
    Featured Products
  </h1>

  <section class="w-full max-w-[1000px] xl:max-h-[750px] min-h-full border-double border-b-4 pb-8 border-b-[#e6e6e6]">
    <h1 class="mt-4 mb-8 font-thin text-xl">SHOP</h1>

    <!-- 1 row -->
    <div class="list">
      {photos1.map((photo, index) => (
        <div class="product">
          <a href={Prod1[index]?.path} class="product">
            <img alt="shoes1" src={photo} />
            <div class="hidden-device">
              <h2 class="text-2xl sm:text-3xl md:text-4xl">{Prod1[index]?.title}</h2>
              <p class="price">
                {Prod1[index]?.price}<span class="text-3xl">&euro;</span>
              </p>
            </div>
            <div>
              <h2 class="text-2xl sm:text-3xl md:text-4xl">{Prod1[index]?.title}</h2>
              <div class="flex justify-center items-center">
                <p class="price">{Prod1[index]?.price}</p>
                <span class="text-3xl">&euro;</span>
              </div>
            </div>
            <p class="descr">
              {Prod1[index]?.description}
            </p>
          </a>
          <br />
          <a href="mailto:trstkillsbmx@gmail.com" target="_blank" role="link" class="btn-shop">Prenota (DM)</a>
        </div>
      ))}
    </div>
    
    <div class="list">
      <!-- key={`prod2-${index}`} -->
      {photos2.map((photo, index) => (
        <div class="product"> 
          <a href={Prod2[index]?.path} class="product"> 
            <img alt="shoes1" src={photo} />
            <div class="hidden-device">
              <h2 class="text-2xl sm:text-3xl md:text-4xl">{Prod2[index]?.title}</h2>
              <p class="price">
                {Prod2[index]?.price}<span class="text-3xl">&euro;</span>
              </p>
            </div>
            <div>
              <h2 class="text-2xl sm:text-3xl md:text-4xl">{Prod2[index]?.title}</h2>
              <div class="flex justify-center items-center">
                <p class="price">{Prod2[index]?.price}</p>
                <span class="text-3xl">&euro;</span>
              </div>
            </div>
            <p class="descr">
              {Prod2[index]?.description}
            </p>
          </a>
          <br />
          <a href="mailto:trstkillsbmx@gmail.com" target="_blank" role="link" class="btn-shop">Prenota (DM)</a>
        </div>
      ))}
    </div>
  </section>
</div>

<Contacts />