---
// import some stuff
import '../styles/main.css'
import '../styles/reset.css'
import MainHead from '../components/Head.astro'
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'

interface Props {
	title: string,
	description: string,
	image,
  frontmatter,
  robots,
}

const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
  image,
  frontmatter,
  robots,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<!-- head of the docs (SEO)-->
	<MainHead {title} {description} {image} {frontmatter} {robots} />
	<body>
		<!-- Navigation -->
		<Navbar />
		<!-- content ↓ -->
		<slot />
		<!-- end content -->
		<Footer />
	</body>
</html>