---
// imports
import MainLayout from './Layout.astro'

interface Props {
	title: string,
	description: string,
	image,
  frontmatter,
  robots,
}

const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
  image,
  frontmatter,
  robots,
} = Astro.props;

---

<MainLayout {title} {description} {image} {frontmatter} {robots}>
  <!-- product layout -->
  <div class="container min-h-full w-full overflow-x-hidden">
    <!-- every page of every produtcs -->
    <div></div>
  </div>
</MainLayout>