---
// import some stuff
import '../styles/main.css'
import '../styles/reset.css'
import MainHead from '../components/Head.astro'

interface Props {
	title: string,
	description: string,
	image,
  frontmatter,
  robots,
}


const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
  image,
  frontmatter,
  robots,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<!-- head of the docs (SEO)-->
	<MainHead {title} {description} {image} {frontmatter} {robots} />
	<body>
		<!-- content ↓ -->
		<slot />
		<!-- end content -->
	</body>
</html>